@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  font-family: 'Calibri', sans-serif;
  box-sizing: border-box;
}

body {
  background: #222;
  overflow: hidden;
}

@keyframes spin {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.card {
  width: 90%;
  min-width: 470px;
  max-width: 470px;
  color: #fff;
  margin: 0 auto 100px;
  border-radius: 0 0 20px 20px;
  padding: 0 35px 40px;
  text-align: center;
  background-size: 200% 200%;
  animation: spin 7s linear infinite;
}




.card {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 1s;
}

.card > .cardContent {
  overflow: hidden;
}


.search {
  width: 90%;
  min-width: 470px;
  max-width: 470px;
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px 20px 0 0;
  padding: 40px 35px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-size: 200% 50%;
  animation: spin 7s linear infinite;
  position: relative;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.weather .weatherIcon {
  margin-top: 40px;
  margin-bottom: 30px;
  width: 250px;
  height: auto;
  animation: fadeInOut 2s linear infinite;
}


.weather h1 {
  font-size: 60px;
  font-weight: 500;
}

.weather h2 {
  font-size: 35px;
  font-weight: 400;
}

.weather .humidityIcon {
  filter: invert(100%);
  margin-bottom: 5px;
}

.weather .windIcon {
  filter: invert(100%);
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  margin-right: 8px;
  width: 50px;
}


.humidity, .wind {
  font-size: 20px;
  font-weight: lighter;
  margin-top: -6px;
}


.content {
  height: 0;
  visibility: hidden;
  transition: height 1s, visibility 1s;
}


.error {
  text-align: center;
  font-weight: normal;
  font-size: 25px;
  display: none;
}
